header, .details {
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.scroll-button {
  position: absolute;
  color: white;
  background-color: transparent !important;
  align-content: center;
  justify-content: center;
  box-shadow: none;

  &.bottom {
    bottom: 20px;
  }

  &.top {
    top: 20px;
  }

  mat-icon {
    font-size: 5vh;
    height: auto;
    width: auto;
  }
}

header {

  h1 {
    color: white;
    font-size: xxx-large;
    padding: 0 5%;
    line-height: initial;
    text-align: center;
    backdrop-filter: brightness(60%);
    height: 100%;
    margin: 0;
    width: 100%;
  }
}

.details {
  min-height: 100vh;
  background-color: black;

  & > div {
    backdrop-filter: brightness(70%);
    width: 100%;
    height: 100%;
    padding: 0 15px;
    color: white;

    h2 {
      text-align: center;
      font-size: xx-large;
    }

    h2 {
      margin: 15% 0;
    }

    p {
      font-size: x-large;
      line-height: 1.4;
    }
  }
}

.medias {
  height: auto;

  img {
    width: 100%;
  }
}

.bottom-fab {
  position: fixed;
  bottom: 15px;

  &.back-to-top {
    left: 15px;

    @media screen and (min-width: 600px) {
      left: calc(15px + 20vw);
    }
  }
  &.add-collecion {
    right: 15px;

    @media screen and (min-width: 600px) {
      right: 30px;
    }

    &:disabled {
      background-color: #673ab7;
    }
  }
}
