<mat-toolbar id="toolbar" color="primary">
  <button *ngIf="isMobile" mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  Jeunny Vydeo
</mat-toolbar>
<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile && user">
    <app-sidenav (clickLinkSidenavEvent)="sidenav.toggle()"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
