/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; scroll-behavior: smooth; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

main {
  height: calc(100vh - 64px);

  @media screen and (max-width: 599px) {
    height: calc(100vh - 56px);
  }
}

.full-page-height {
  height: calc(100vh - 64px);

  @media screen and (max-width: 599px) {
    height: calc(100vh - 56px);
  }
}
